<header class="relative">
    <div class="w-full h-60 bg-slate-50 overflow-hidden">
        <slot name="image"></slot>
    </div>
    <div class="mx-auto px-6 max-w-xl">
        <span class="absolute bottom-0 text-6xl translate-y-[50%]">
            <slot></slot>
        </span>
    </div>
</header>
