---
import { Button } from "@/components/ui/button";
import { getPreferredLocale, getTranslations } from "@/utils/i18n.ts";

interface Props {
    highlight?: string;
}

const { highlight } = Astro.props;

const locale = getPreferredLocale(Astro.request.headers);
const i18n = getTranslations(locale);
---

<div class="flex gap-2">
    {["yes", "no", "maybe"].map(response =>
        <Button
            type="submit"
            name="response"
            value={response}
            variant={response === highlight ? "secondary" : "outline"}
            className="w-full"
        >
            {i18n(response)}
        </Button>
    )}
</div>
