---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea"
import { DatePicker } from "@/components/ui/date-picker";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Savedate</title>
    </head>
    <body>
        <form class="flex flex-col mx-auto gap-y-8 max-w-lg">
            <label class="flex flex-col gap-y-2">
                <p>Name</p>
                <Input/>
            </label>
            <label class="flex flex-col gap-y-2">
                <p>Beschreibung</p>
                <Textarea></Textarea>
            </label>
            <label class="flex flex-col gap-y-2">
                <p>Datum</p>
                <DatePicker client:load></DatePicker>
            </label>
            <Button>Speichern</Button>
        </form>
    </body>
</html>
