---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea"
import { DatePicker } from "@/components/ui/date-picker";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        console.log(data);
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Savedate</title>
    </head>
    <body>
        <header class="relative block w-full h-40 bg-slate-50">
            <div class="mx-auto px-4 max-w-lg">
                <span class="absolute bottom-0 text-6xl translate-y-[50%]">🎉</span>
            </div>
        </header>
        <form class="flex flex-col gap-8 mt-16 mx-auto px-4 max-w-lg" method="POST">
            <label class="flex flex-col gap-2">
                <p>Name</p>
                <Input name="event" required/>
            </label>
            <label class="flex flex-col gap-2">
                <p>Beschreibung</p>
                <Textarea name="description"></Textarea>
            </label>
            <div class="flex gap-2">
                <label class="flex flex-col gap-2 w-full">
                    <p>Datum</p>
                    <DatePicker name="date" client:load></DatePicker>
                </label>
                <label class="flex flex-col gap-2">
                    <p>Uhrzeit</p>
                    <Input name="time" placeholder="Optional" />
                </label>
            </div>
            <Button type="submit">Speichern</Button>
        </form>
    </body>
</html>
