---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea"
import { DatePicker } from "@/components/ui/date-picker";

import { db, Event, Participant } from "astro:db";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const { name, description, date, time } = Object.fromEntries(data.entries());
        
        if (typeof name === "string" && typeof date === "string") {
            const event = await db.insert(Event).values({
                id: crypto.randomUUID(),
                name: name,
                description: typeof description === "string" ? description : null,
                icon: "🎉",
                date: new Date(date)
            }).returning().get();

            const participant = await db.insert(Participant).values({
                id: crypto.randomUUID(),
                eventId: event.id,
                isAdmin: true,
                willParticipate: true
            }).returning().get();

            return Astro.redirect(`/participant/${participant.id}`);
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Savedate</title>
    </head>
    <body>
        <header class="relative block w-full h-40 bg-slate-50">
            <div class="mx-auto px-4 max-w-lg">
                <span class="absolute bottom-0 text-6xl translate-y-[50%]">🎉</span>
            </div>
        </header>
        <form class="flex flex-col gap-8 mt-16 mx-auto px-4 max-w-lg" method="POST">
            <label class="flex flex-col gap-2">
                <p>Name</p>
                <Input name="name" required/>
            </label>
            <label class="flex flex-col gap-2">
                <p>Beschreibung</p>
                <Textarea name="description"></Textarea>
            </label>
            <div class="flex gap-2">
                <label class="flex flex-col gap-2 w-full">
                    <p>Datum</p>
                    <DatePicker name="date" client:load></DatePicker>
                </label>
                <label class="flex flex-col gap-2">
                    <p>Uhrzeit</p>
                    <Input name="time" placeholder="Optional" />
                </label>
            </div>
            <Button type="submit">Speichern</Button>
        </form>
    </body>
</html>
