---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { getTranslations } from "@/utils/i18n.ts";
import Navbar from "@/components/navigation/navbar.astro";

const i18n = getTranslations(Astro.preferredLocale);
---

<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="Erstelle Termine und Einladungen in Sekunden und teile sie mit Freunden und Bekannten."
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{i18n("imprint")} | Savedate</title>
    </head>
    <body>
        <Navbar />
        <article class="prose max-w-xl mx-auto my-24 px-6">
            <Button variant="outline" size="sm" className="mb-8">
                Zur Datenschutzerklärung
            </Button>
            <h1 class="font-medium">{i18n("imprint")}</h1>
            <h3>{i18n("imprint.heading")}</h3>
            <h4>{i18n("imprint.represent")}</h4>
            <p>{i18n("imprint.representative")}</p>
            <h4>{i18n("imprint.address.heading")}</h4>
            <p>
                {i18n("imprint.address.street")}
                <br />
                {i18n("imprint.address.city")}
                <br />
                {i18n("imprint.address.country")}
            </p>
            <h4>{i18n("imprint.contact.heading")}</h4>
            <p>
                {i18n("imprint.contact.phone")}
                <br />
                {i18n("imprint.contact.email")}
            </p>
        </article>
    </body>
</html>
