---
interface Props {
	date: string;
    time?: string | null;
    timezone?: string | null;
}

const { date, time, timezone } = Astro.props;
---

<div class="date-time" data-date={date} data-time={time} data-timezone={timezone}>{date}</div>

<script>
    import { formatDateParts } from "@/utils/temporal.ts";

    for (const element of document.querySelectorAll(".date-time")) {
        const date = element.getAttribute("data-date");
        const time = element.getAttribute("data-time");
        const timezone = element.getAttribute("data-timezone");
        if (!date) continue;

        element.textContent = formatDateParts(date, time, timezone);
    }
</script>
