---
interface Props {
	date?: string;
    time?: string | null;
    timezone?: string | null;
    native?: Date;
    class?: string;
}

const { date, time, timezone, native, class: className } = Astro.props;
---

<div
    class:list={["date-time", className]}
    data-date={date}
    data-time={time}
    data-timezone={timezone}
    data-native={native?.toISOString()}
>
    &nbsp;
</div>

<script>
    import { formatDateParts, formatDate } from "@/utils/temporal.ts";

    for (const element of document.querySelectorAll<HTMLElement>(".date-time")) {
        const { date, time, timezone, native } = element.dataset;
        if (date) {
            element.textContent = formatDateParts(navigator.language, date, time, timezone, true);
        } else if (native) {
            element.textContent = formatDate(navigator.language, new Date(native));
        }
    }
</script>
